package Strings;

/*This program uses Strings*/
/*Strings that I will use relate to Star Trek Characters*/
/*References from http://www.homeandlearn.co.uk/java/user_input.html*/

public class Star_Trek {

public static void main(String[] args){ /* setting up strings in the class*/

String first_name; /*First Name must be declared*/
first_name = "James.T.";

String last_name; /*Declaring Last Name*/
last_name = "Kirk";

/*Print both names on screen*/
System.out.println(first_name+""+last_name);

/*First name and Last name must be in brackets to be printed*/
}


public Star_Trek() { /* Constructor must be created for new section*/

/*Only one name will be declared for Spock*/
String name; /*Declaring Name*/

name = "Spock";

/*Print only one name screen*/
System.out.println(""+name);

/* name must be in brackets to be printed*/
}
}
